@media screen and (orientation: landscape) {

body{
    margin: 0;
}

#portrait{
        display:none;
    }

header{
    /*background-color: #BD7935;*/
    background-image:url(./img/header.png);
    background-size:cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
}

#logo-plat{
    width: 100%;
    margin: 0;
    height: 50%;
    top: 8%;
    position: absolute;
}

#logo-plat-img{
    width: 45%;
    margin:auto;
    display: block;
}

#logo-carre{
    display: none;
    width: 9.8%;
    margin: 0;
    position: absolute;
    top: 14%;
    left: 1%;
}

#logo-carre-img{
    width: 100%;
    /*margin:auto;*/
    display: block;
}

#base_cadeau{
 width:100%;   
}

#fig-couvercle{
    width:10%;
    height:40%;
    right: 4%;
    top:1%;
}

#couvercle{
    width:100%;
}

.cadeau{
    position: absolute;
    top: 37%;
    right: 5.3%;
    width: 7.5%;
    height: auto;
    margin:0;
    z-index:3;
}

nav{
    display:none;
    width:100%;
    position:absolute;
    top:-90%;
}

nav ul{
    width:70%;
    padding:0;
    margin-left:15%;
    height:10%;
}

nav li{
    list-style:none;
    border:solid 3px;
    border-color: #A0522D;
    background-color:#E3001E;
    text-align:center;
    font-size:1em;
    color:white;
    display:inline-block;
    width:23%;
    padding-top:2%;
    padding-bottom:2%;
}

nav li:hover{
    background-color:red;
}

nav a{
    color:black;
    text-decoration:none;
}
} /*fin media screen horizontale*/

#bazar{
    display:none;
    z-index:1;
    position:absolute;
    top:6.5%;
    right:12%;
    width:1%;
    height:auto;
}

#bazar p{
font-size:5px;
line-height: 2px;
color:red;
}

@media screen and (orientation: portrait) {
    #paysage{
        display:none;
    }
    
    #portrait{
        margin-top:50%;
        width:100%;
    }
    
    #turn{
        width:100%;
    }
    
} /*fin media screen portrait*/
/*@media screen and (min-width: 1024px) {*/

/*}*/
